body *{
margin: 0;
padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: left;
}

#sketch-container{
    margin: 25px;
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    
}

.menu{
    width: 100px;
}

.content{
    flex: auto;
    padding: 25px;
    display: flex;
    margin-left: auto;
    justify-content: center;
}
